<div>
    <h2>Solutions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="solution.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Solution
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titre"><span>Titre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cout"><span>Cout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publicVise"><span>Public Vise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="objectif"><span>Objectif</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delai"><span>Delai</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="budgetMin"><span>Budget Min</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="budgetMax"><span>Budget Max</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nbrPersonnesVisees"><span>Nbr Personnes Visees</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contact.id"><span>Contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solution in vm.solutions track by solution.id">
                    <td><a ui-sref="solution-detail({id:solution.id})">{{solution.id}}</a></td>
                    <td>{{solution.titre}}</td>
                    <td>{{solution.description}}</td>
                    <td>{{solution.cout}}</td>
                    <td>{{solution.publicVise}}</td>
                    <td>{{solution.objectif}}</td>
                    <td>{{solution.delai}}</td>
                    <td>{{solution.budgetMin}}</td>
                    <td>{{solution.budgetMax}}</td>
                    <td>{{solution.nbrPersonnesVisees}}</td>
                    <td>
                        <a ui-sref="contact-detail({id:solution.contact.id})">{{solution.contact.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solution-detail({id:solution.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solution.edit({id:solution.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solution.delete({id:solution.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
